<div class="shadow overflow-hidden rounded border-b border-gray-200">
  <table class="min-w-full bg-white">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th id="station-name" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
          <span>Station</span>
        </th>
        <th id="station-address" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
          <span>Address</span>
        </th>
        <th id="station-access-code" class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
          <span>Access Code</span>
        </th>
      </tr>
    </thead>

    <tbody class="text-gray-700">
      <% stations.each do |station| %>
        <tr>
          <td class="text-left py-3 px-6"><%= station[:station_name] %></td>
          <td class="text-left py-3 px-6"><%= "#{station[:street_address]} #{station[:city]}, #{station[:state]} #{station[:zip]}" %></td>
          <td class="text-left py-3 px-6"><%= station[:access_code].capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>