<div class="max-w-7xl mx-auto mt-12">
  <%= render "stations", stations: @stations %>
</div>
  
  
  <%# <% @stations.each do |station| %>
    <%# <h2> <%= station[:station_name] %> </h2> %>
    <%# <h3> <%= "#{station[:street_address]} #{station[:city]}, #{station[:state]} #{station[:zip]}" %> </h3> %>
    <%# <h3> <%= station[:access_code].capitalize %> </h3> %>
  <%# <% end %> %> %>